    <header class="masthead text-center text-white masthead-center-vertical">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0"><img width="200" height="200" src="/images/niece/olive.svg" /><br /><!--handlebars [site.title]-->{{site.title}}<!--/handlebars--></h1>
          <h2 class="masthead-subheading mb-0"><span>Node.js, Inline-edited-Content, & Express</span></h2>
          <a href="https://github.com/BOXNYC/NIECE" target="_blank" class="btn btn-primary btn-xl rounded-pill mt-5"><img width="32px" height="32px"class="github-img" src="/images/niece/github.svg" /> Get code!</a>
        </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5 text-center">
              <img class="img-fluid rounded-circle" src="/images/niece/partners.svg" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-5">Free <em>and</em> Open-Source.</h2>
              <p>Get the code at <a href="https://github.com/BOXNYC/NIECE" target="_blank">Github.com</a> and help contribute! If you just want to use for a website or REST API, just install using npm! <code>npm install niece</code></p>
              <p>Full instructions are on the <a href="https://github.com/BOXNYC/NIECE" target="_blank">Github</a> page and <a href="https://www.npmjs.com/niece" target="_blank">NPM</a> page's readme file. You'll be up and running in under a minute!. Only requirement is installing Node.js.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5 text-center">
              <img class="img-fluid rounded-circle" src="/images/niece/bs-tmce.svg" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-5">Inline-Edited CMS <em>with</em> Bootstrap <em>and</em> TinyMCE.</h2>
              <p><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> is a modern CSS and Javascript framework that makes creating your site's theme a breeze. Deploy a responsive airy look and feel just by writing HTML class structures.</p>
              <p><a href="https://www.tiny.cloud/" target="_blank">TinyMCE</a> is an amaizzing WYSIWYG editor with inline HTML editing capabilities. NIECE may be the first purly inline-edited CMS out there. All content is editable inline without the need for an admin panel. In-fact, NIECE might be considered admin-less.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5 text-center">
              <img class="img-fluid rounded-circle" src="/images/niece/express.svg" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-5">Served <em>with</em> Express</h2>
              <p>The Express Node.js module is extemely powereful and shipes with everything you need to run a website with. If you didn't know, a website's files needs to be accessed via a port in a web broswer. Express allows NIECE to setup responses sent to this port. The basis to how the web works. If your confused on what a port is, it is the number after the ":" in a website URL, for example 8080 is the port for http://mywebsite.com:8080/about.html. If you don't see a port in a url, for example https://apple.com/ that is because it's default is automatically set to 443 with https, or 80 if http.</p>
              <p>Another cool thing about Express is that it allows your NIECE site to become a REST API. Google it if ya need to know more about that ;)</p>
            </div>
          </div>
        </div>
      </div>
    </section>