      
    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0" data-niece-input="title"><i class="bi bi-emoji-frown-fill"></i><br />404</h1>
        </div>
      </div>
    </header>

    <section class="overlap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 text-center">
            <p>Oops, you seemed to be lost. Page is not found. <code>404</code></p>
          </div>
        </div>
      </div>
    </section>
