    
    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">{{page.title}}</h1>
        </div>
      </div>
    </header>
    
    <section class="overlap">
      <div class="container">
        <div class="row justify-content-center">
          <form class="col-md-6" autocomplete="new-password" action="/user/update-password" method="POST">
            <style>
              [name="password"] {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border-bottom: none;
              }
              [name="password_confirm"] {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
              }
            </style>
            {{> messages}}
            <label class="sr-only" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="Password" autocomplete="new-password" required autofocus>
            <input class="form-control mb-3" type="password" id="password-confirm" name="password_confirm" placeholder="Password Confirm" oninput="check(this)" autocomplete="new-password" required>
            <input type="hidden" name="token" value="{{changePasswordToken}}">
            <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Update Password</button>
            <script type="text/javascript">
              function check(input) {
                if (input.value != document.getElementById('password').value) {
                  input.setCustomValidity('Password Must be Matching.');
                } else {
                  input.setCustomValidity('');
                }
              }
            </script>
          </form>
        </div>
      </div>
    </section>